
				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Availability</h2>
                        <iframe src="https://calendar.google.com/calendar/embed?src=50e0a0a8e1f3c04217ffdab9ff41a3b6984588737b6e37bf9e671e614a9c443e%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </section>