				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div id="form" class="inner">
                        <h2>Get in Touch</h2>
                        <p> Interested in booking? Let us know, we'd love to host you.</p>
                        <div class="index align-left">
                            <!-- Form -->
                            <section>
                                <div class="content">
                                    <form method="post" action="https://api.web3forms.com/submit">
                                        <input type="hidden" name="access_key" value="587ca8fe-a359-46c2-97b8-161bbce007fe">

                                        <div class="fields">
                                            <div class="field half">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" id="name" value="" />
                                            </div>
                                            <div class="field half">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" value="" />
                                            </div>
                                            <div class="field">
                                                <label for="message">Message</label>
                                                <textarea name="message" id="message" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <ul class="actions">
                                            <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                                        </ul>
                                    </form>

                                </div>
                            </section>
                        </section>

                    </div>


                </section>                            