				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <div class="index align-left">
                        <!-- Unordered List -->
                            <section>
                                <header>
                                    <h3>Amenities</h3>
                                </header>
                                <div class="content">

                                    <ul>
                                        <li>Wireless Internet</li>
                                        <li>Pool</li>
                                        <li>Jacuzzi</li>
                                        <li>Laundry</li>
                                        <li>Gym</li>
                                    </ul>


                                </div>
                            </section>
                        </div>
                    </div>
                </section>